.menu {
    margin: 0px 30vw 5vw 5vw;
    padding-bottom: 2vw;
    width: 55vw;
    flex-grow: 3;
}

.section-name {
    font-size: 1.5vw;
}

.food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(100vw/50);
    flex: 2;
}

@media(max-width: 400px) { 
    .food-grid{ 
        grid-template-columns: 1fr; 
    }
}

.food {
    height:10vh;
    padding: 1vw;
    background-position: center;
    background-size: cover;
    filter: contrast(0.75);
    border-radius: 1vw;
    margin-top: 0.5vw;
    transition-property: box-shadow margin-top filter;
    transition-duration: .1s;
    box-shadow: 0px 0px 2px 0px #a5a5a5;
}

.food:hover {
    filter: contrast(100%);
    margin-top: 0;
    margin-bottom: 0.1vw;
    box-shadow: 0px 0px 10px 2px #a5a5a5;
}

.food-label {
    position: absolute;
    top: 0;
    background-color: rgb(255 255 255 / 70%);
    padding: 0.05vw;
    font-size: 1vw;
    max-height: 10vh;
}