.order-area {
    position: fixed;
    right: 0px;
    top: 50px;
    width: 30vw;
    background-color: white;
    height: calc(100% - 48px);
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.order-content {
    padding: 20px;
    height: 100%;
}

.order-container {
    padding: 10px 0px;
    border-bottom: 1px solid grey;
}

.order-item {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 20px 150px 20px 80px;
    justify-content: space-between;
    font-size: 0.6rem;
}