.order-area {
    position: fixed;
    right: 0px;
    top: 4rem;
    width: 30vw;
    background-color: white;
    height: calc(100% - 48px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 80vh;
}

.order-content {
    padding: 20px;
    height: 100%;
}

.order-container {
    padding: 10px 0px;
    border-bottom: 1px solid grey;
}

.order-item {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 20px 150px 20px 80px;
    justify-content: space-between;
    font-size: 0.6rem;
}

.pay {
    position: absolute;
    left: calc(50% - 36px);
    margin-top: 1rem;
}

.remove {
    font-size: 0.75rem;
    width: 6rem;
}

