.topping-checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.topping-content {
    height: 10rem;
    overflow: scroll;
}

.toppings {
    display: flex;
    flex-flow: row wrap;
}

.topping-section {
    font-size: 1.5rem;
}