@font-face {
  font-family: 'kongtextregular';
  src: url('./fonts/kongtext-webfont.woff2') format('woff2'),
       url('./fonts/kongtext-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* { font-family: 'kongtextregular', Arial, sans-serif; }

.container {
  position: relative;
  background-image: url('tv.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vw;
  background-size: cover;
}

/* .tv {
  position: absolute;
  width: 100vw;
  height: auto;
} */

.App {
  padding-top: 6vw; 
  height: 55vw;
  /* border: 1rem darkblue solid; */
  width: 73vw;
  overflow: auto;
  position: absolute;
  left: 9vw;
  top: calc(100% * 3.7/10);
  box-sizing: border-box;
}

.main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.upper-arrow-wrapper {
  position: absolute;
  /* max-width: 100%;
  max-height: 100%; */
  width: 5vw;
  /* width: 0.1vw;
  height: 0.1vw; */
  top: 5vw;
  left: 1vw;
}

.fixed {
  width: 5vw;
  position: fixed;
}