@font-face {
  font-family: 'kongtextregular';
  src: url('./fonts/kongtext-webfont.woff2') format('woff2'),
       url('./fonts/kongtext-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* { font-family: 'kongtextregular', Arial, sans-serif; }





.App {
  padding-top: 4rem; 
  height: 820vh;
}
